<h2>Alumno {{alumno.nombre}} - id: <span id="idAlumno">{{alumno._id}}</span></h2>
<hr>

<h3>Cursos a los que está inscripto el alumno:</h3>
<ul>
    {{#each alumno.cursando}}
        <li>
            {{nombre}} - horas: {{horas}} - reinscripciones {{reinscripciones}}
        </li>
    {{/each}}
</ul>


<hr>

<h2>Oferta de cursos:</h2>
<hr>
<ul>
    {{#each cursos}}
        <li>
            {{nombre}} - horas: {{horas}} - docente {{docente}} - <button onclick="agregaCurso('{{_id}}')">Cursar</button>
        </li>
    {{/each}}
</ul>

<a href="/alumnos">Alumnos</a>

<script src="/js/alumno.js"></script>